<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MySite</title>
</head>
<body>
	<div class="main">
		<div class="container">
			<h1>Hello World! My name is Milan Grubnić</h1>
			<p>I make Rails applications.</p>
		</div>
	</div>
</body>
</html>